[project]
	description = The MIT Libraries News blog
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/PBruk
[access "refs/for/refs/*"]
	read = group user/PBruk
	push = group user/PBruk
	label-Code-Review = -2..+2 group user/PBruk
	label-Verified = -1..+1 group user/PBruk
	rebase = group user/PBruk
	removeReviewer = group user/PBruk
	submit = group user/PBruk
[access "refs/heads/*"]
	read = group user/PBruk
	create = group user/PBruk
	push = +force group user/PBruk
	pushMerge = group user/PBruk
[access "refs/tags/*"]
	push = group user/PBruk
	push = +force group user/PBruk
